{% extends "api_calls/base.html" %}
{% block content %}

{% if form.errors %}
    <p>Your username or password didn't match.</p>
{% endif %}


{% if next %}
    {% if user.is_authenticated%}
        <p>To have access to this page you have to login</p>
    {% else %}
        <p>Login to see the website</p>
    {% endif %}
{% endif %}

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Login" />
    <input type="hidden" name="next" value="{{ next }}"/>
</form>

{% endblock %}